model = "PrimeIntellect/INTELLECT-3"
max_steps = 200
batch_size = 128
rollouts_per_example = 8
trajectory_strategy = "interleaved"

[sampling]
max_tokens = 900

[[env]]
id = "herr-professor/f1-strategy"
args = { deep_reasoning = true, use_tools = true, multi_turn = false, multi_env = true }

[eval]
interval = 50
num_examples = 50
rollouts_per_example = 2
eval_base_model = true

[[eval.env]]
id = "herr-professor/f1-strategy"
args = { deep_reasoning = true, use_tools = true, multi_turn = false, multi_env = true }
